header {
  grid-column: span 3;
  text-align: left;
  background-color: black;
  color:white;
  padding: 5px;
  margin: 10px;
}
h1{
  font-weight: normal;
  padding: auto;
}
nav {
  grid-column: span 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;

}

nav li {
  width: 250px;

}

nav li a {
  display: block;
  background-color: red;
  border: 1px solid black;
  padding: 1em;
  color: white;
  margin: 5px;
  text-decoration: none;
}
nav li a:hover{
  display: block;
  background-color: darkred;
}
main {
  grid-column: span 2;
  padding: 10px;
  text-align: justify;
  font-family: Georgia;
}
h2{
  font-family: helvetica;
}
#bolder{
  font-weight: bold;
}
main a{
  color: red;
  text-decoration: none;
  font-weight: bold;
}
main a:hover{
  color: blue;
  text-decoration: underline;
  font-weight: normal;
}
main img{
  float:left;
  margin-right: 24px;
  margin-bottom: 24px;
  border: 5px solid black;
  padding: 5px;
}

aside {
  grid-column: span 1;
  background-color: yellow;
  padding-left: 24px;
  margin-right: 24px;
}

footer {
  background-color: red;
  color: white;
  grid-column: span 3;
  padding-left: 16px;
  font-family: Verdana;
  font-style: italic;
  text-align: center;
}
body {
  background-image: url(a62.png);
  font-family: Helvetica;
  grid-column: span 1;
}
h2{
  border-bottom: 5px solid black;
}
#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 960px;
  border: 1px solid #ff0000;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
