header {
  grid-column: span 3;
  border: 1px solid green;
  text-align: center;
}

nav {
  grid-column: span 3;
  border: 1px solid blue;
}

nav ul {
  list-style-type: none;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

nav li {
  width: 200px;

}

nav li a {
  display: block;
  background-color: red;
  border: 1px solid black;
  padding: 1em;
  color: white;
  text-decoration: none;
  text-align: center;
}

main {
  grid-column: span 2;
  padding: 24px;
  text-align: justify;
}
main img{
  float:left;
  margin-right: 24px;
  margin-bottom: 24px;
}

aside {
  grid-column: span 1;
  background-color: yellow;
  padding-left: 24px;
  margin-right: 24px;
}

footer {
  background-color: red;
  color: white;
  grid-column: span 3;
  padding-left: 16px;
}
body {
  background-color: #999999;
}
h2{
  text-align: center;
}
#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 960px;
  border: 1px solid #ff0000;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
